.header-flex {
  display: flex;
  align-items: center;
}

.Header {
  min-width: 1182px;
  height: 166px;
  margin-bottom: 30px;
  background-color: #F8CB00;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 6px solid #6364D8;
}

.Header__title {
  width: 290px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 900;
  line-height: 33px;
  text-decoration: none;
}

.Header__title:hover {
  color: #F5F5F5;
}

.SearchInput {
  width: 625px;
  height: 50px;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-size: 24px;

  display: flex;
  align-content: center;
  justify-content: center;
}

.SearchInput__icon {
  color: #5C5C5C;
  width: 25px;
  padding: 10px;
}

.SearchInput__input {
  flex: 1;
  width: 200px;
  color: rgba(123,123,123,0.78);
  font-size: 15px;
  float: left;
  border: none;
  border-radius: 5px;
}
