.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  position: relative;
  background: #fff;
  box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.3);
  border-radius: 4px;
  width: 80%;
  max-width: 860px;
  min-height: 300px;
  margin: 0 25px;
}

.Modal__close {
  position: absolute;
  font-size: 38px;
  font-weight: 200;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 20px;
}

.Modal__contents {
  padding: 70px 50px;
}
