.PrimaryHeading {
  font-size: 27px;
  margin-bottom: 30px;
  font-weight: 300;
}

.no-results-message {
  font-size: 40px;
  font-weight: 300;
  margin-top: 30px;
}

.Grid__item {
  display: inline-block;
  margin-right: 25px;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.Grid__item:nth-of-type(4n) {
  margin-right: 0;
}

.ProductGridItem {
  padding: 10px 5px;
  cursor: pointer;
  text-align: center;
  height: 300px;
  width: 180px;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.05);
  transition: 150ms;
}

.ProductGridItem:hover {
  box-shadow: 0 4px 14px 7px rgba(121, 121, 121, 0.10);
  transform: scale(1.05);
}

.ProductGridItem__image {
  height: 175px;
  width: 175px;
}

.ProductGridItem__name {
  font-size: 18px;
  padding-top: 20px;
  height: 60px;
}

.ProductGridItem__price {
  color: #F8CB00;
  font-size: 20px;
}
