.ProductDetails {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 40px;
}

.ProductDetails__image {
  width: 250px;
  height: 250px;
}

.ProductDetails__name {
  font-size: 28px;
  font-weight: 500;
  color: #373738;
}

.ProductDetails__price {
  font-size: 30px;
  font-weight: 700;
  color: #f8cb00;
  margin: 15px 0 19px 0;
}

.ProductDetails__description {
  font-size: 16px;
  color: #585858;
  line-height: 30px;
}
