.sidebar {
  width: 250px;
  flex: none;
  padding-right: 25px;
}

.sidebar__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.sidebar__title:not(:first-child) {
  margin: 20px 0 10px 0;
}

.sidebar__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar__link {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 31px;
  margin: 0;
  padding: 0;
}

.sidebar__link--active {
  color: #f8cb00;
}
