.Sidebar {
  width: 290px;
  float: left;
}

.Sidebar__links {
  list-style: none;
  font-size: 15px;
  padding: 0;
}

.Sidebar_links__item {
  padding: 8px 0;
}

.Sidebar_links__item, .Sidebar_links__item a {
  display: inline-block;
  color: #818181;
  text-decoration: none;
}

.Sidebar_links__item--active, .Sidebar_links__item--active a {
  color: #F8CB00;
}

.Sidebar__heading {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.Sidebar__heading:nth-child(n + 2) {
  margin-top: 30px;
}
