body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 50px;
  width: 1148px;
}

.container--primary {
  display: flex;
  padding: 38px 0;
}

.primary-content {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.screen-title {
  font-size: 27px;
  font-weight: 400;
  color: #2d2d2d;
  letter-spacing: 0;
  margin-bottom: 35px;
}
