section {
  margin: 0;
  padding: 0;
}
/*
 * Product Listing
*/

.product-listing {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-rows: 1fr 3fr;
  background-color: #fff;
  color: #444;
}

.header {
  background-color: #f8cb00;
  display: grid;
  height: 166px;
  grid-template-columns: 1fr 3fr;
}

.product-container {
  /*
  background-color: tan;
*/
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.filter {
  background: #fff;
}

.store-title {
  padding-left: 120px;
  padding-top: 50px;
  word-wrap: break-word;
}

.search {
  padding: 59px 0 56px 100px;
}

.search-icon {
  height: 25px;
  width: 25px;
}

.search-form {
  height: 51px;
  width: 661px;
  border-radius: 4px;
  font-size: 15px;
  color: rgba(123, 123, 123, 0.78);
  letter-spacing: 0;
  line-height: 31px;
  text-align: left;
}

h1 {
  font-family: SourceSansPro-Black;
  font-size: 36px;
  color: #fff;
  letter-spacing: 0;
  line-height: 33px;
  text-align: left;
  padding: 0;
  margin: 0;
}
/*
 * Product Detail Modal
*/
